/* レンジスライダー共通 */

.axpc_range {
    position: relative;
}

.axpc_range_label {
    pointer-events: none;
    z-index: 9999;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 12px;
    padding-left: 4px;
    padding-top: 1px;
    line-height: 14px;
}

.axpc_range_value {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100px;
    color: #fff;
    font-size: 16px;
    font-family: "Arial Black", Arial, sans-serif;
    padding-left: 4px;
    padding-top: 15px;
    line-height: 14px;
}

.axpc_range input[type="range"] {
    appearance: none;
    position: relative;
    overflow: hidden;
    height: 32px;
    width: 100px;
    cursor: pointer;
    border-radius: 8px;
    border: 3px solid #444;
}

/* webkit */
/* 背景 */
.axpc_range input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(#000, #555);
}

.axpc_range input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    /* つまみ */
    background: #999;
    border: 4px solid #777;
    border-radius: 8px;
    /* バー */
    box-shadow: -100vw 0 0 99vw #777;
}

/* moz */
/* 背景 */
.axpc_range input[type="range"]::-moz-range-track {
    height: 32px;
    background: linear-gradient(#000, #555);
}

.axpc_range input[type="range"]::-moz-range-thumb {
    height: 32px;
    width: 32px;
    /* つまみ */
    background: #999;
    border: 4px solid #777;
    border-radius: 8px !important;
    /* バー */
    box-shadow: -100vw 0 0 100vw #777;
    box-sizing: border-box;
}

#axp_layer_form_alpha input,
#axp_layer_form_alpha div {
    /* レイヤー不透明度width再指定 */
    width: 129px !important;
}

#axp_palette_form_column input,
#axp_palette_form_column div {
    /* パレット横幅width再指定 */
    width: 110px !important;
}

.axpc_range_width228 input,
.axpc_range_width228 div {
    /* 設定パレット横幅width再指定 */
    width: 228px !important;
}

#axp_tool_form_gridH *,
#axp_tool_form_gridV * {
    /* 設定パレット横幅width再指定 */
    width: 118px !important;
}