/* セーブ／ロード／自動保存から復元のサブ画面 */

#axp_saveload {
    position: absolute;
    z-index: 2001;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#axp_saveload>div {
    background-color: #eee;
    color: #000;
    border-color: #337;
    border-width: 4px;
    border-style: double;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
}

/* セーブスロットのHTMLを挿入するポイント */
#axp_saveload_div_insertHTML {
    background-color: #aaa;
    border: solid 0px;
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
    padding: 8px;
    cursor: pointer;
}

/* 閉じるボタン */
#axp_saveload_button_close {
    margin-top: 8px;
    font-weight: bolder;
    font-size: 15px;
    width: 100%;
}

.axpc_saveload_saveSlot,
.axpc_saveload_loadSlot {
    background-color: #ddd;
    width: 135px;
    min-height: 180px;
    border: solid 2px #000;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.axpc_saveload_saveSlot:hover {
    background-color: #faa;
}

.axpc_saveload_loadSlot:hover {
    background-color: #ffa;
}

.axpc_saveload_thumbnall {
    width: 124px;
    height: 124px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #aaa solid 1px;
}

.axpc_saveload_refId {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: #00f;
    /* ブラウザがサポートしていない場合のフェールセーフ */
    max-height: 30px;
}